<template>
  <Transition mode="out-in">
    <v-skeleton-loader
      v-if="isLoading"
      type="table-tbody@3"
    />
    <div
      v-else
      class="emojis-wrapper"
    >
      <span
        class="emoji"
        v-for="({ character, unicodeName }, index) in emojis"
        :key="character"
        :title="getEmojiTitle(unicodeName)"
        :style="getAnimationDelay(index)"
      >
        {{ character }}
      </span>
    </div>
  </Transition>
</template>

<script setup lang="ts">
import { Emoji } from '@/utils/types';
import { Ref, inject } from 'vue'
import { VSkeletonLoader } from 'vuetify/lib/labs/components.mjs'

interface InjectableEmojis {
  isLoading?: Ref<boolean>,
  emojis?: Ref<Emoji[]>
}

const { isLoading, emojis } = inject<InjectableEmojis>('emojis', {})

const getEmojiTitle = (unicodeName: string) =>
  unicodeName.slice(4, unicodeName.length)

const getAnimationDelay = (index: number) =>
  `animation-delay: ${index * 10}ms`

</script>

<style scoped lang="scss">
.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s linear;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.emojis-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  .emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-size: 30px;
    border-radius: 6px;
    opacity: 0;
    box-shadow: 0 0 3px 1px black, inset 0 0 0 0 black;
    animation: appear 0.5s forwards;
    transition: 0.05s ease-in-out;
    &:hover {
      box-shadow: 0 0 0 0 black, inset 0 0 3px 1px black;
    }
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
</style>
