<template>
  <Transition mode="out-in">
    <v-skeleton-loader
      v-if="isLoading"
      type="sentences@5"
    />
    <div
      v-else
      class="quotes-wrapper"
    >
      <p
        v-for="{ content, author } in quotes"
        :key="content"
        class="quote"
      >
        <q>{{ content }}</q>
        <strong>@ {{ author }}</strong>
      </p>
    </div>
  </Transition>
</template>

<script setup lang="ts">
import { VSkeletonLoader } from 'vuetify/lib/labs/components.mjs'
import { inject } from 'vue'
import { Ref } from 'vue';
import { Quote } from '@/utils/types';

interface InjectableQuotes {
  isLoading?: Ref<boolean>,
  quotes?: Ref<Quote[]>
}

const { isLoading, quotes } = inject<InjectableQuotes>('quotes', {})

</script>

<style scoped lang="scss">
.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s linear;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.quotes-wrapper {
  padding: 10px;
  .quote {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-radius: 10px;
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
</style>
