<template>
  <v-app>
    <v-main>
      <tab-bucket>
        <Quotes title="Quotes" />
        <Emojis title="Emojis" />
      </tab-bucket>
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
import Quotes from '@/components/Quotes.vue'
import Emojis from '@/components/Emojis.vue'
import { useEmojis } from './composables/useEmojis'
import { useQuotes } from './composables/useQuotes'
import { onMounted, ref, provide } from 'vue'
import { Emoji, Quote } from './utils/types'

const quotes = ref<Quote[]>([])
const emojis = ref<Emoji[]>([])

const { isLoading: isQuotesLoading, getQuotes } = useQuotes()
const { isLoading: isEmojisLoading, getEmojis } = useEmojis()

provide('quotes', {
  isLoading: isQuotesLoading,
  quotes
})

provide('emojis', {
  isLoading: isEmojisLoading,
  emojis
})

const sendRequests = async () => {
  const result = await Promise.allSettled([getQuotes(), getEmojis()])
  const isRequestSuccessfull = result.every(r => r.status === 'fulfilled')
  if (isRequestSuccessfull) {
    const [quotesData, emojisData] = result as PromiseFulfilledResult<any>[]
    quotes.value = quotesData.value
    emojis.value = emojisData.value
  } else await sendRequests()
}

onMounted(sendRequests)
</script>
